@font-face {
    font-family: 'Inter';
    src: url('../Fonts/Inter_18pt-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('../Fonts/Rubik-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../Fonts/Rubik-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Rubik-SemiBold';
    src: url('../Fonts/Rubik-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}